<a href="https://colab.research.google.com/github/sandipanchakraborty2016/30-seconds-of-java/blob/master/LearningPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is the first python code to print a String.

In here, I'm printing Hello World.

In [4]:
print('Hello World')

Hello World

In [3]:
print("Hello World")

Hello World

In [6]:
# Type your code below
var = 5

# Don't change the line below
print(f'var = {var}')

var = 5

In [7]:
# Type your code below
coddy = "I am learning to code with Coddy!"

# Don't change the line below
print(f'coddy = "{coddy}"')

coddy = "I am learning to code with Coddy!"

In [ ]:
# Type your code below
boolean = True

# Don't change the line below
print(f'boolean = {boolean}')

Python is a very simple language, and has a very straightforward syntax. It encourages programmers to program without boilerplate (prepared) code. The simplest directive in Python is the "print" directive - it simply prints out a line (and also includes a newline, unlike in C).

There are two major Python versions, Python 2 and Python 3. Python 2 and 3 are quite different. This tutorial uses Python 3, because it more semantically correct and supports newer features.

For example, one difference between Python 2 and 3 is the print statement. In Python 2, the "print" statement is not a function, and therefore it is invoked without parentheses. However, in Python 3, it is a function, and must be invoked with parentheses.

To print a string in Python 3, just write:

In [ ]:
print("This line will be printed.")

Indentation

Python uses indentation for blocks, instead of curly braces. Both tabs and spaces are supported, but the standard indentation requires standard Python code to use four spaces. For example:

In [8]:
x = 1
if x == 1:
    # indented four spaces
    print("x is 1.")

x is 1.

Exercise

Use the "print" function to print the line "Hello, World!".

In [ ]:
print("Hello, World!")

Variables and Types

Python is completely object oriented, and not "statically typed". You do not need to declare variables before using them, or declare their type. Every variable in Python is an object.

This tutorial will go over a few basic types of variables.
Numbers

Python supports two types of numbers - integers(whole numbers) and floating point numbers(decimals). (It also supports complex numbers, which will not be explained in this tutorial).

To define an integer, use the following syntax:

In [ ]:
myint = 7
print(myint)

To define a floating point number, you may use one of the following notations:

In [ ]:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

Strings are defined either with a single quote or a double quotes.

In [9]:
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

The difference between the two is that using double quotes makes it easy to include apostrophes (whereas these would terminate the string if using single quotes)

In [10]:
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

There are additional variations on defining strings that make it easier to include things such as carriage returns, backslashes and Unicode characters. These are beyond the scope of this tutorial, but are covered in the Python documentation.

Simple operators can be executed on numbers and strings:

In [11]:
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

3
hello world

Assignments can be done on more than one variable "simultaneously" on the same line like this

In [12]:
a, b = 3, 4
print(a, b)

3 4

Mixing operators between numbers and strings is not supported:

In [13]:
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'



The target of this exercise is to create a string, an integer, and a floating point number. The string should be named mystring and should contain the word "hello". The floating point number should be named myfloat and should contain the number 10.0, and the integer should be named myint and should contain the number 10.

In [16]:
# change this code
mystring = 'hello'
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 10:
    print("Integer: %d" % myint)

String: hello
Float: 10.000000

Lists

Lists are very similar to arrays. They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner. Here is an example of how to build a list.

In [17]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

# prints out 1,2,3
for x in mylist:
    print(x)

1
2
3
1
2
3



Accessing an index which does not exist generates an exception (an error).

In [18]:
mylist = [1,2,3]
print(mylist[10])

IndexError: list index out of range

In this exercise, you will need to add numbers and strings to the correct lists using the "append" list method. You must add the numbers 1,5, and 10 to the "numbers" list, and the words 'hello' and 'world' to the strings variable.

You will also have to fill in the variable second_name with the second name in the names list, using the brackets operator []. Note that the index is zero-based, so if you want to access the second item in the list, its index will be 1.

In [19]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
numbers.append(1)
numbers.append(5)
numbers.append(10)

strings.append('hello')
strings.append('world')

second_name = names[1]


# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 5, 10]
['hello', 'world']
The second name on the names list is Eric

Arithmetic Operators

Just as any other programming languages, the addition, subtraction, multiplication, and division operators can be used with numbers.

In [20]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

Another operator available is the modulo (%) operator, which returns the integer remainder of the division. dividend % divisor = remainder.

In [21]:
remainder = 11 % 1
print(remainder)

0

Using two multiplication symbols makes a power relationship.

In [22]:
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

49
8

Using Operators with Strings

Python supports concatenating strings using the addition operator:

In [23]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

Python also supports multiplying strings to form a string with a repeating sequence:

In [25]:
lotsofhellos = "hello " * 10
print(lotsofhellos)

hello hello hello hello hello hello hello hello hello hello

Using Operators with Lists

Lists can be joined with the addition operators:

In [26]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

Just as in strings, Python supports forming new lists with a repeating sequence using the multiplication operator:

In [27]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

The target of this exercise is to create two lists called x_list and y_list, which contain 10 instances of the variables x and y, respectively. You are also required to create a list called big_list, which contains the variables x and y, 10 times each, by concatenating the two lists you have created.

In [ ]:
x = object()
y = object()

# TODO: change this code
x_list = [x] * 10
y_list = [y] * 10
big_list = x_list + y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

Let's say you have a variable called "name" with your user name in it, and you would then like to print(out a greeting to that user.)

In [28]:
# This prints out "Hello, Test!"
name = "Test"
print("Hello, %s!" % name)

Hello, Test!

To use two or more argument specifiers, use a tuple (parentheses):

In [30]:
# This prints out "Test is 23 years old."
name = "Test"
age = 23
print("%s is %d years old." % (name, age))

Test is 23 years old.

Any object which is not a string can be formatted using the %s operator as well. The string which returns from the "repr" method of that object is formatted as the string. For example:

In [31]:
# This prints out: A list: [1, 5, 10]
mylist = [1, 5, 10]
print("A list: %s" % mylist)

A list: [1, 5, 10]

Here are some basic argument specifiers you should know:

%s - String (or any object with a string representation, like numbers)

%d - Integers

%f - Floating point numbers

%.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.

%x/%X - Integers in hex representation (lowercase/uppercase)

You will need to write a format string which prints out the data using the following syntax: Hello Test User. Your current balance is $53.44.

In [32]:
data = ("Test", "User", 53.44)
format_string = "Hello %s %s. Your current balance is $%s."

print(format_string % data)

Hello Test User. Your current balance is $53.44.

As you can see, the first thing you learned was printing a simple sentence. This sentence was stored by Python as a string. However, instead of immediately printing strings out, we will explore the various things you can do to them. You can also use single quotes to assign a string. However, you will face problems if the value to be assigned itself contains single quotes. For example to assign the string in these bracket(single quotes are ' ') you need to use double quotes only like this

In [ ]:
astring = "Hello world!"
print("single quotes are ' '")

print(len(astring))

That prints out 12, because "Hello world!" is 12 characters long, including punctuation and spaces.

In [33]:
astring = "Hello world!"
print(astring.index("o"))

4

In [34]:
astring = "Hello world!"
print(astring.count("l"))

3

In [35]:
astring = "Hello world!"
print(astring[3:7])

lo w

If you just have one number in the brackets, it will give you the single character at that index. If you leave out the first number but keep the colon, it will give you a slice from the start to the number you left in. If you leave out the second number, it will give you a slice from the first number to the end.

You can even put negative numbers inside the brackets. They are an easy way of starting at the end of the string instead of the beginning. This way, -3 means "3rd character from the end".

In [37]:
astring = "Hello world!"
print(astring[3:7:3])

lw

In [38]:
astring = "Hello world!"
print(astring[3:7])
print(astring[3:7:1])

lo w
lo w

There is no function like strrev in C to reverse a string. But with the above mentioned type of slice syntax you can easily reverse a string like this

In [39]:
astring = "Hello world!"
print(astring[::-1])

!dlrow olleH

In [40]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [41]:
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

True
False

In [44]:
astring = "Hello world!"
afewwords = astring.split(" ")
print(afewwords)

['Hello', 'world!']

In [46]:
s = "Strings are awesome!"
# Length should be 20
print("Length of s = %d" % len(s))

# First occurrence of "a" should be at index 8
print("The first occurrence of the letter a = %d" % s.index("a"))

# Number of a's should be 2
print("a occurs %d times" % s.count("a"))

# Slicing the string into bits
print("The first five characters are '%s'" % s[:5]) # Start to 5
print("The next five characters are '%s'" % s[5:10]) # 5 to 10
print("The thirteenth character is '%s'" % s[12]) # Just number 12
print("The last five characters are '%s'" % s[-5:]) # 5th-from-last to end

# Convert everything to uppercase
print("String in uppercase: %s" % s.upper())

# Convert everything to lowercase
print("String in lowercase: %s" % s.lower())

# Check how a string starts
if s.startswith("Str"):
    print("String starts with 'Str'. Good!")

# Check how a string ends
if s.endswith("ome!"):
    print("String ends with 'ome!'. Good!")

# Split the string into three separate strings,
# each containing only a word
print("Split the words of the string: %s" % s.split(" "))

Length of s = 20
The first occurrence of the letter a = 8
a occurs 2 times
The first five characters are 'Strin'
The next five characters are 'gs ar'
The thirteenth character is 'a'
The last five characters are 'some!'
String in uppercase: STRINGS ARE AWESOME!
String in lowercase: strings are awesome!
String starts with 'Str'. Good!
String ends with 'ome!'. Good!
Split the words of the string: ['Strings', 'are', 'awesome!']

Conditions

Python uses boolean logic to evaluate conditions. The boolean values True and False are returned when an expression is compared or evaluated. For example:

In [47]:
x = 1
print(x == 5) # prints out False
print(x == 1) # prints out True
print(x < 3) # prints out True

False
True
True

Boolean operators

The "and" and "or" boolean operators allow building complex boolean expressions, for example:

In [48]:
name = "Test"
age = 23
if name == "Test" and age == 23:
    print("Your name is Test, and you are also 23 years old.")

if name == "Test" or name == "Test1":
    print("Your name is either Test or Test1.")

Your name is Test, and you are also 23 years old.
Your name is either Test or Test1.

The "in" operator could be used to check if a specified object exists within an iterable object container, such as a list:

In [49]:
name = "Test"
if name in ["Test", "Test1"]:
    print("Your name is either Test or Test1.")

Your name is either Test or Test1.

Python uses indentation to define code blocks, instead of brackets. The standard Python indentation is 4 spaces, although tabs and any other space size will work, as long as it is consistent. Notice that code blocks do not need any termination.

In [ ]:
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

In [50]:
x = 3
if x == 3:
    print("x=3!")
else:
    print("x does not equal to 3.")

x=3!

Unlike the double equals operator "==", the "is" operator does not match the values of the variables, but the instances themselves. For example:

In [51]:
x = [1,3,5]
y = [1,3,5]
print(x == y) # Prints out True
print(x is y) # Prints out False

True
False

Using "not" before a boolean expression inverts it:

In [52]:
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

True
False

The "for" loop

For loops iterate over a given sequence. Here is an example:

In [53]:
primes = [1, 3, 5, 7]
for prime in primes:
    print(prime)

1
3
5
7

In [57]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)
print()
# Prints out 3,4,5
for x in range(3, 6):
    print(x)
print()
# Prints out 3,5,7,9
for x in range(3, 10, 2):
    print(x)

0
1
2
3
4

3
4
5

3
5
7
9

While loops repeat as long as a certain boolean condition is met. For example:

In [58]:
# Prints out 0,1,2,3,4

count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

"break" and "continue" statements

In [61]:
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break
print()

for x in range(10):
    # Check if x is even
    if x % 5 == 0:
        continue
    print(x)

0
1
2
3
4

1
2
3
4
6
7
8
9

Unlike languages like C,CPP.. we can use else for loops. When the loop condition of "for" or "while" statement fails then code part in "else" is executed. If a break statement is executed inside the for loop then the "else" part is skipped. Note that the "else" part is executed even if there is a continue statement.

In [62]:
# Prints out 0,1,2,3,4 and then it prints "count value reached 5"

count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

# Prints out 1,2,3,4
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

0
1
2
3
4
count value reached 5
1
2
3
4

How do you call functions in Python?

Simply write the function's name followed by (), placing any required arguments within the brackets. For example, lets call the functions written above (in the previous example):

In [65]:
# Define our 3 functions
def my_function():
    print("Hello From My Function!")

def my_function_with_args(username, greeting):
    print("Hello, %s, From My Function!, I wish you %s"%(username, greeting))

def sum(a, b):
    return a + b

# print(a simple greeting)
my_function()

#prints - "Hello, John Doe, From My Function!, I wish you a great year!"
my_function_with_args("John Doe", "a great year!")

# after this line x will hold the value 3!
sum = sum(1,5)

print(sum)

Hello From My Function!
Hello, John Doe, From My Function!, I wish you a great year!
6

Objects are an encapsulation of variables and functions into a single entity. Objects get their variables and functions from classes. Classes are essentially a template to create your objects.

In [68]:
class MyClass:
  variable="random"


  def test(self):
    print("This is a message inside the class.")

myobjectx = MyClass()

myobjectx.variable

'random'

You can create multiple different objects that are of the same class(have the same variables and functions defined). However, each object contains independent copies of the variables defined in the class. For instance, if we were to define another object with the "MyClass" class and then change the string in the variable above:

In [71]:
class MyClass:
    variable = "random"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()
myobjecty = MyClass()

myobjecty.variable = "random1"

# Then print out both values
print(myobjectx.variable)
print(myobjecty.variable)

random
random1


init()

The __init__() function, is a special function that is called when the class is being initiated. It's used for assigning values in a class.

In [73]:
class NumberHolder:

   def __init__(self, number):
       self.number = number

   def returnNumber(self):
       return self.number

var = NumberHolder(1)
print(var.returnNumber()) #Prints '1'

1

A dictionary is a data type similar to arrays, but works with keys and values instead of indexes. Each value stored in a dictionary can be accessed using a key, which is any type of object (a string, a number, a list, etc.) instead of using its index to address it.

In [74]:
phonebook = {}
phonebook["A"] = "Hi"
phonebook["AAA"] = 135
phonebook["AAAAAA"] = 1.9
print(phonebook)

{'A': 'Hi', 'AAA': 135, 'AAAAAA': 1.9}

Alternatively, a dictionary can be initialized with the same values in the following notation:

In [75]:
phonebook = {
    "A" : "Hi",
    "AAA" : 135,
    "AAAAA" : 1.9
}
print(phonebook)

{'A': 'Hi', 'AAA': 135, 'AAAAA': 1.9}

In [1]:
phonebook = {
     "Test" : 111,
     "Test1" : 555,
     "Test111" : 999
    }
for name, number in phonebook.items():
  print("Phone number of %s is %d" % (name, number))

Phone number of Test is 111
Phone number of Test1 is 555
Phone number of Test111 is 999

Removing a value

To remove a specified index, use either one of the following notations:

In [2]:
phonebook = {
     "Test" : 111,
     "Test1" : 555,
     "Test111" : 999
    }
del phonebook['Test']
print(phonebook)

{'Test1': 555, 'Test111': 999}

In [4]:
phonebook = {
     "Test" : 111,
     "Test1" : 555,
     "Test111" : 999
    }
phonebook.pop('Test')
print(phonebook)

phonebook["Test11111111"]=11111111
print(phonebook)

{'Test1': 555, 'Test111': 999}
{'Test1': 555, 'Test111': 999, 'Test11111111': 11111111}

Writing modules

Modules in Python are just Python files with a .py extension. The name of the module is the same as the file name. A Python module can have a set of functions, classes, or variables defined and implemented. The example above includes two files:

mygame/

    mygame/game.py

    mygame/draw.py

The Python script game.py implements the game. It uses the function draw_game from the file draw.py, or in other words, the draw module that implements the logic for drawing the game on the screen.

Modules are imported from other modules using the import command. In this example, the game.py script may look something like this:

In [ ]:
# import the draw module
import draw

def play_game():
    ...

def main():
    result = play_game()
    draw.draw_game(result)

# this means that if this script is executed, then
# main() will be executed
if __name__ == '__main__':
    main()

The draw module may look something like this:

In [ ]:
# draw.py

def draw_game():
    ...

def clear_screen(screen):
    ...

In this example, the game module imports the draw module, which enables it to use functions implemented in that module. The main function uses the local function play_game to run the game, and then draws the result of the game using a function implemented in the draw module called draw_game. To use the function draw_game from the draw module, we need to specify in which module the function is implemented, using the dot operator. To reference the draw_game function from the game module, we need to import the draw module and then call draw.draw_game().



When the import draw directive runs, the Python interpreter looks for a file in the directory in which the script was executed with the module name and a .py suffix. In this case it will look for draw.py. If it is found, it will be imported. If it's not found, it will continue looking for built-in modules.

You may have noticed that when importing a module, a .pyc file is created. This is a compiled Python file. Python compiles files into Python bytecode so that it won't have to parse the files each time modules are loaded. If a .pyc file exists, it gets loaded instead of the .py file. This process is transparent to the user.
Importing module objects to the current namespace

A namespace is a system where every object is named and can be accessed in Python. We import the function draw_game into the main script's namespace by using the from command.

In [ ]:
# game.py
# import the draw module
from draw import draw_game

def main():
    result = play_game()
    draw_game(result)

You may have noticed that in this example, the name of the module does not precede draw_game, because we've specified the module name using the import command.

The advantages of this notation is that you don't have to reference the module over and over. However, a namespace cannot have two objects with the same name, so the import command may replace an existing object in the namespace.

Importing all objects from a module

You can use the import * command to import all the objects in a module like this:

In [ ]:
# game.py
# import the draw module
from draw import *

def main():
    result = play_game()
    draw_game(result)

Custom import name

Modules may be loaded under any name you want. This is useful when importing a module conditionally to use the same name in the rest of the code.

For example, if you have two draw modules with slighty different names, you may do the following:

In [ ]:
# game.py
# import the draw module
if visual_mode:
    # in visual mode, we draw using graphics
    import draw_visual as draw
else:
    # in textual mode, we print out text
    import draw_textual as draw

def main():
    result = play_game()
    # this can either be visual or textual depending on visual_mode
    draw.draw_game(result)

The first time a module is loaded into a running Python script, it is initialized by executing the code in the module once. If another module in your code imports the same module again, it will not be loaded again, so local variables inside the module act as a "singleton," meaning they are initialized only once.

You can then use this to initialize objects. For example:

In [ ]:
# draw.py

def draw_game():
    # when clearing the screen we can use the main screen object initialized in this module
    clear_screen(main_screen)
    ...

def clear_screen(screen):
    ...

class Screen():
    ...

# initialize main_screen as a singleton
main_screen = Screen()

Extending module load path

There are a couple of ways to tell the Python interpreter where to look for modules, aside from the default local directory and built-in modules. You can use the environment variable PYTHONPATH to specify additional directories to look for modules like this:

In [ ]:
PYTHONPATH=/foo python game.py

This executes game.py, and enables the script to load modules from the foo directory, as well as the local directory.

You may also use the sys.path.append function. Execute it before running the import command:

In [ ]:
sys.path.append("/foo")

Input and Output

Taking Input and showing Output in required way plays an important role in interactive coding. So lets focus on input and output of various data types.

input()

this is used to take input as long as it reached end of line.Note that there should not be any spaces.Taking input terminates with a new line character and if there are any spaces in the input line it results in error

In [6]:
# Prints out the input received from stdin
astring=input()# give hello as input
print(input())

Hi
Hi
Hi

In [11]:
num=int(input())
print(num)
decimalnum=input()
decimalnum=float(input())
print(decimalnum)

1
1
1.1
1.1
1.1

In [14]:
#give two integers in first line and more than two integers in third line
a, b = map(int, input().split())
array = input().split()
sum = 0
for each in array:
    sum = sum + int(each)
print(a, b, sum)  # prints first two integers from first line and sum of integers of second line

1 3
1
1 3 1

In [15]:
# Taking the name input using input()
name = input("Enter your name: ")

# Taking the age input using input() and converting it to integer
age = int(input("Enter your age: "))

# Taking the country input using input()
country = input("Enter your country: ")

# Displaying the formatted sentence with name, age, and country
print("Hello, my name is {}, I am {} years old, and I am from {}.".format(name, age, country))

Enter your name: 1
Enter your age: 1
Enter your country: 1
Hello, my name is 1, I am 1 years old, and I am from 1.

Lambda functions

In [17]:
a = 1
b = 5
sum = lambda x,y : x + y
c = sum(a,b)
print(c)

6

Exception Handling

In [19]:
def do_stuff_with_number(n):
    print(n)

def catch_this():
    the_list = (1,3,5)

    for i in range(5):
        try:
            do_stuff_with_number(the_list[i])
        except IndexError: # Raised when accessing a non-existing index of a list
            do_stuff_with_number(0)

catch_this()

1
3
5
0
0